/* contenedor principal */
.detail-master-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 80vh;
  width: 110%;
}

.detail-box {
  display: flex;
  flex-direction: row;
  background-color: var(--blue);
  border-radius: 12px;
  max-width: 1200px;
  width: 95%;
  border: 1px solid var(--red);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.info-side {
  flex: 0.6;
  padding: 50px;
  border-right: 1px solid var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.team-title {
  color: var(--red);
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.description-text {
  color: var(--silver);
  font-size: 1.05rem;
  line-height: 1.7;
  font-family: var(--title);
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  border-left: 3px solid var(--red);
  padding-left: 20px;
}

h1 {
  font-family: var(--special);
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--silver);
  margin-top: 5px;
  margin-bottom: px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

.card-side {
  flex: 2;
  padding: 40px;
  background-color: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.mini-img {
  width: auto;
  max-width: 350px;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 1));
}

.mini-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  min-width: 260px;
  font-family: var(--title);
}

.mini-price {
  color: var(--red);
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-confirm {
  background-color: var(--navy);
  font-family: var(--title);
  color: var(--silver);
  border: none;
  padding: 16px 20px;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.btn-confirm:hover {
  background-color: var(--red);
  transform: translateY(-2px);
}

/* responsivo para pantallas */
@media (max-width: 1100px) {
  .detail-box {
    flex-direction: column;
    width: 95%; /* Se adapta al ancho de cualquier pantalla */
    max-width: none; /* Eliminamos la restricción fija */
    margin: 10px auto;
  }

  .info-side {
    border-right: none;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    padding: 20px; /* Padding intermedio que sirve para ambos */
  }

  .product-card-mini {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
}
