/* ItemDetail.css */

.detail-master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.detail-box {
  background-color: var(--grey);
  border: 3px solid var(--red);
  border-radius: 20px;
  max-width: 950px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.info-side {
  background-color: var(--navy);
  padding: 30px;
  flex: 0 0 300px; /* Ancho fijo para que no se achique */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid var(--red);
  text-align: left;
}

.team-title {
  color: var(--gold);
  font-family: var(--impact), sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.description-text {
  color: var(--silver);
  font-family: var(--college), sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

.card-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.mini-img {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
}

.mini-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-width: 200px;
}

.mini-price {
  font-family: var(--impact), sans-serif;
  color: var(--gold);
  font-size: 2rem;
}

/* controles de cantidad */
.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.count-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-count {
  background: var(--red);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.count-controls span {
  color: white;
  font-family: var(--impact);
  font-size: 1.2rem;
}

.btn-confirm {
  background-color: var(--navy);
  color: var(--white);
  font-family: var(--impact);
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  padding: 12px 20px;
  border: 1px solid var(--gold);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  transition: 0.3s;
}

.btn-confirm:hover {
  background-color: var(--gold);
  color: black;
}

/* responsivo */
@media (max-width: 850px) {
  .detail-box {
    flex-direction: column;
    max-width: 400px;
  }
  .info-side {
    flex: none;
    border-right: none;
    border-bottom: 2px solid var(--red);
  }
  .card-side {
    flex-direction: column;
    gap: 20px;
  }
}
