/* Header.css */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background-color: var(--grey);
  border-bottom: 2px solid var(--red);
}

.LogoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  height: 60px;
}

.LogoContainer img {
  height: 100%;
  max-height: 60px;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  display: block;
  transition: transform 0.3s ease;
}

.HeaderTitle {
  font-family: var(--impact);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: 2px;
  font-style: italic;
  color: var(--red);
  text-shadow: 2px 2px 0px var(--dark);
  transition: all 0.3s ease;
  display: inline-block;

  /* efecto*/
  text-shadow:
    0 0 8px rgba(255, 60, 0, 0.4),
    2px 2px 2px rgba(0, 0, 0, 0.8);

  transition: all 0.3s ease;
  display: inline-block;
}

/* efectos */

.LogoContainer:hover img {
  transform: scale(1.05);
}

.LogoContainer:hover .HeaderTitle {
  color: var(--silver);
  filter: drop-shadow(0 0 10px solid var(--red));
}

/* responsivo */
@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    padding: 15px 10px;
    gap: 15px;
    text-align: center;
  }

  .LogoContainer {
    height: 50px;
    justify-content: center;
    width: 100%;
  }

  .HeaderTitle {
    font-size: 1.8rem;
  }
}
