/* footer.css */
footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 10px;
  border-top: 2px solid var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

footer p {
  color: var(--silver);
  font-family: var(--college);
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}
/* mi texto es estatico sin link asociados */
/*
.nav-list li {
  color: var(--red);
  font-size: 0.75rem;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-list li:hover {
  color: var(--red);
}
*/
/* responsivo */
@media (max-width: 768px) {
  footer {
    padding: 20px 10px;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  footer p {
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
}
