/*importacion fuentes */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Graduate&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap");

/* reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--dark);
}

/* var de entorno*/
:root {
  /* colores*/
  --navy: #030157;
  --red: #d50a0a;
  --white: #ffffff;
  --silver: #a5acaf;
  --dark: #101820;
  --grey: #333333;
  --gold: #b3995d;
  --blue: #272581e5;
  --black: #000000af;
  --deepblue: #00141ecc;
  --steel: #708090;

  /* fuentes */
  --title: "Tourney";
  --college: "Graduate";
  --clarendon: "Ultra";
  --impact: "Anton";
  --nav: "Exo2";
}

/* componentes globales */
.counter {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 5px;
  color: var(--silver);
  background: var(--grey);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 18px;

  &:hover {
    border-color: var(--red);
  }
  &:focus-visible {
    outline: 2px solid var(--silver);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 140px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 28px;
    height: 22px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.3);
  }

  .vite {
    z-index: 0;
    top: 85px;
    height: 20px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.75);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 24px 15px 20px;
    gap: 15px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--grey);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 24px;
    @media (max-width: 1024px) {
      padding: 18px 15px;
    }
  }

  .icon {
    margin-bottom: 12px;
    width: 18px;
    height: 18px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--grey);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--grey);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 6px;
  margin: 24px 0 0;

  .logo {
    height: 16px;
  }

  a {
    color: var(--white);
    font-size: 14px;
    border-radius: 6px;
    background: var(--dark);
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 12px var(--black);
    }
    .button-icon {
      height: 16px;
      width: 16px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 6px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 60px;
  border-top: 1px solid var(--grey);
  @media (max-width: 1024px) {
    height: 32px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    border: 4px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--grey);
  }
  &::after {
    right: 0;
    border-right-color: var(--grey);
  }
}
