/*nav.css */

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-list li {
  font-size: 1.2rem;
  font-family: var(--college), sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.nav-list li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 6px;
}

.nav-list li a span {
  display: inline-block;
  transform: translateY(-2px);
  line-height: 0;
}

.nav-list li:hover {
  transform: translateY(-1px);
}

.nav-list li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--navy);
  transition: width 0.3s ease;
}

.nav-list li:hover::after {
  width: 100%;
}

.cart-badge {
  background-color: var(--black);
  color: var(--silver)!important;
  display: row;
  align-items: center;
  justify-content: center;
  border-radius: 999px !important;
  min-width: 24px;
  height: 24px;
  font-size: 0.85rem !important;
  padding: 10px;
  margin-left: 5px;
  font-family: var(--college), sans-serif;
  font-weight: 900;
  vertical-align: middle;
  line-height: 1;
}


/* menu desplegable para las categorias */



.dropdown-container {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: -12px;
}


.dropdown-button {
  background: none;
  border: none;
  font-family: var(--impact), sans-serif !important;
  color: var(--gold)!important;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}


.dropdown-menu {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--gold);
  background-color: var(--navy);
  font-family: var(--impact), sans-serif;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 8px 0;
  margin: 0; 
  min-width: 160px;
  z-index: 1000; 
  border-radius: 4px;
}


.dropdown-container:hover .dropdown-menu {
  display: block;
}


.dropdown-menu li::after {
  display: none !important;
}

.dropdown-menu li {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}

.dropdown-menu li:hover {
  transform: none;
}

/* enlaces internos del dropdown */
.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  color: var(--gold) !important ;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}


.dropdown-menu li a:hover {
  background-color: var(--deepblue) !important;
  color: var(--gold) !important; 
}


/* responsivo                                                                           */

@media (max-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 12px;
    padding: 10px 0;
  }

  .nav-list li {
    font-size: 1rem;
  }

  .dropdown-button {
    font-size: 1rem;
  }

  .nav-list li:hover {
    transform: none;
  }

  .nav-list li::after {
    display: none;
  }

  .cart-badge {
    background-color: var(--black);
    border-radius: 999px !important;
    color: var(--silver);
    font-size: 1rem !important;
    padding: 10px;
    margin-left: 1px;
    vertical-align: middle;
    font-family: var(--college), sans-serif;
    font-weight: 800;
  }

  .dropdown-container {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  }

  .dropdown-menu li a {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}