.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-list li {
  font-size: 1.2rem;
  font-family: var(--college), sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--red);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.nav-list li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 6px;
}

.nav-list li a span {
  display: inline-block;
  transform: translateY(-2px);
  line-height: 0;
}

.nav-list li:hover {
  color: var(--silver);
  transform: translateY(-1px);
}

.nav-list li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--navy);
  transition: width 0.3s ease;
}

.nav-list li:hover::after {
  width: 100%;
}
